/*-------------MOBILE-------------*/
	* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
}

html{
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 1px;
}

header {
	text-align: left;
	padding-top: 40px;
	padding-bottom: 100px;
	width: 90%;
}

header img {
	height: 100px;
	position: relative;
	padding: 0 150px 50px 30px;
	float: left;
}

body {
	width: 100%;
	background-color: white;

}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}


h1 {
	color: #444444;
	font-size: 25px;
	font-weight: 900;
	padding-left: 30px;
	line-height: 1.3em;

}

.logo-left img{
	height: 30px;
}

.logo-left {
	padding: 50px 0 0 30px;
}

h2 {
	color: #444444;
	font-size: 12px;
	font-weight: 300;
	padding-left: 30px;
	line-height: 2em;
	padding-top: 20px;
}

h3 {
	font-weight: 300;
	padding: 20px 0 20px 30px;
	width: 95%;
}

h3 a {
	text-decoration: none;
	color: #FF7753;
	font-weight: 900;
}

.about-right img {
	height: 350px;
}

.btn-container {
	text-align: center;
	padding-top: 20px;
	float: left;
	padding-left: 30px;
}

.btn-resume {
	background-color: white;
	border: 1px solid #FF7753;
	border-radius: 25px;
	padding: 10px 30px 10px 30px;
}
.btn-resume a{
	text-decoration: none;
	color: #FF7753;

}
nav {
	top: 0;
	padding-left: 10px;
}


ul {
	list-style: none;
	margin: 20px;

}

li {
	color: #444444;
	font-size: 13px;
	display: inline-block;
	margin-right: 30px;
	padding-top: 25px;
	font-weight: bold;

	position: relative;

}

li a {
	text-decoration: none;
	color: #444444;
}


.locationmarker {
  background: transparent;
}

.locationmarker a {
  color: #FF7753;
}


.work img{
	width: 100%;
	height: 100%;
	margin: 10px 0 10px 0px;
	border-radius: 10px;

}

footer p {
	text-align: center;
	font-weight: 300;
	font-size: 12px;
}

.footer {
	display: flex;
	align-items: center;
	padding-left: 50px;
}

footer img {
	padding: 20px 0 20px 10px;
	height: 80px;
}




/*-------------DESKTOP----------------*/
@media only screen and (min-width: 1000px)  {

	header {
		text-align: left;
		padding-top: 190px;
	}

	header img {
		height: 140px;
		float: right;
		padding: 35px 0;
		transition-duration: 800ms;
		transition-property: all;
	}

	header img:hover {
		transform: rotate(20deg);
	}

	.wrapper {
		width: 90%;
	}

	nav {
		float: right;
		padding: 0;
		width: 37%;
	}

h1 {
	font-size: 60px;
		padding-left: 100px;
}

h2 {
	font-size: 17px;
	padding-left: 100px;
	padding-top: 50px;
	padding-bottom: 100px;
}

h3 {
	padding: 30px 0 0 100px;
	width: 50%;
	font-weight: 300;
	line-height: 1.8em;
}

h3 a{
	text-decoration: none;
	font-weight: 900;
	color: #FF7753;
}

nav a::before{
	content: "";
	display: block;
	height: 4px;
	border-radius:30px;
	width: 0%;
	top: 50px;
	background: #FF7753;
	position: absolute;
	transition: all ease-in-out 250ms;
}

nav a:hover::before {
	width: 100%;
}

ul {
	margin: 30px;

}

li {
	margin-left: 50px;
}

li a:hover{
	color: #FF7753;
}

.logo-left {
	float: left;
		padding: 40px 0 0 85px;
}

.logo-left img {
	height: 50px;
}

.work {
	padding-left: 30px;
}
.work img {
		width: 500px;
		height: 400px;
		width: 45%;
		margin: 2%;
		object-fit: cover;

		filter: grayscale(1);
		transition-duration: 1000ms;
		transition-property: all;
}

.work img:hover {
	filter: grayscale(0);
  transform: scale(0.80);
  transition: all ease-in-out 0.5s;
  opacity: 1;
  filter: alpha(opacity=100);
}

.about-right img {
	float: right;
	height: 450px;
	border-radius: 14%;
	transition-duration: 950ms;
	transition-property: all;
}

.about-right img:hover {
	transform: scale(1.1);
	transition: all ease-in-out 950ms;
}

.btn-container {
	text-align: center;
	padding: 40px 0 0 100px;
}

.btn-resume {
	float: left;
	background-color: white;
	border: 1px solid;
	border-radius: 25px;
	padding: 9px 30px;

	font-size: 12px;
	color: #FF7753;
	font-weight: 400;
	letter-spacing: 2px;

	transition-duration: 500ms;
	transition-property: all;
}

.btn-resume a {
	text-decoration: none;
	color: #FF7753;
}

.btn-resume a:hover{
	color: white;
}

.btn-resume:hover{
	background-color: #FF7753;
	color: white;
}

.btn-resume::before{
		transition: all ease-in-out;
}


footer img {
	height: 200px;
	transition-duration: 900ms;
	transition-property: all;
}
footer {
	float: right;
	width: 60%;
}
.footer {
	display: flex;
	align-items: center;
}

footer img:hover {
	transform: scale(.85);

}

}
