body {
font-family: 'Open Sans', serif;
font-size: 5em;
text-align: center;
text-decoration: none;
color: black;
width: 100%;
border-bottom: #f7ce4e 7px solid;
border-top: #f7ce4e 20px solid;
}

p {
  text-decoration: none;
}
