
/*Sets the width of the overall page container div
to 90% of viewport width and margin:auto centers the page
in the middle of the browser no matter how wide you stretch the browser*/

.pagecontainer {
  margin: auto;
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-rows: 0fr;
}

header {
  background-size: cover;
  text-align: center;
  color: black;
  font-family: 'Noto Serif', serif;
  grid-row: 1;
  grid-column: 1 / 1;
  width: 100%;
  border-bottom: #f7ce4e 4px solid;
}

header img {
  opacity: 0.1;
  filter: alpha(opacity=10); /*brings the opacity down*/
  width: 100%;
  height: 550px;
  max-width: 100%;
  text-align: center;
}
/* Centered text */
.centered {
    display: grid;
    position: absolute;
    padding-top: 13rem;
    padding-bottom: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
}

body {
  /*background: linear-gradient(to bottom right, #df3646, #feff9d); */
  grid-row: 1;
  grid-column: 1 / 1;
}


article {
  background: #ffffff;
  grid-row: 1;
  grid-column: 1 / 1;
  padding-bottom: 3rem;
}

article img {
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: black;
  font-size: 0.8em;
  letter-spacing: 1px;
  line-height: 1.5rem;
}

h3 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-top: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  color: #dc747d;
  font-size: 1.5em;
}

h4 {
  margin: 1rem;
  font-family: 'Karla', sans-serif;
  text-align: center;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #dc747d;
  font-size: 2em;
}

h5 {

}

h6 {

}

.profile p{
  font-family: 'Karla', sans-serif;
  color: #dc747d;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 0.8em;
  line-height: 1.5;

}

article p {
  font-family: 'Karla', sans-serif;
  color: #dc747d;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1.2em;
  line-height: 1.5;
}

main p {
  font-family: 'Karla', sans-serif;
  color: #dc747d;
  font-size: 1.2em;
  padding-left: 10em;
  padding-right: 10em;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

nav ul {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  padding-top:2rem;
  justify-content: center;
  list-style-type: none;
  text-align: center;
  font-size: 1em;
}

ul li {
  font-family: 'Roboto', serif;
  text-transform: uppercase;
  margin: 0.2rem;
  border: solid #e7e7e7 1px;
  border-radius: 70px;
  background: transparent;
  overflow: hidden;
  list-style: none;
  padding: 0.5rem;
  padding-top: 1.3rem;
  padding-left: 7rem;
  padding-right: 7rem;
  text-align: center;
  height: 2rem;
  width: 150px;
}


/* Changes the link color when hovered over */
ul li:hover {
  background: #e7e7e7;
  border-color: white;
}

/*indicates which page the user is on by changes the color of the button*/
.locationmarker {
  background: #f7ce4e;
}

/*takes away any underlines or decorations on the links*/
ul li a {
  color: #35424a;
  text-decoration: none;
}

footer {
  border-top: #f7ce4e 4px solid;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  color: black;
  font-size: 0.9em;
  text-decoration: none;
  height: 200px;

}

footer a {
  color: black;
}

footer img {
  opacity: 0.1;
  filter: alpha(opacity=10); /*brings the opacity down*/
  width: 100%;
  height: 200px;
}

.centeredBottom {
    color: black;
    justify-content: center;
    transform: translate(0, -190%);
}

/* for larger/desktop screens*/
@media only screen and (min-width: 900px)  {
/*sets the header image to full screen width*/
  header {
    background-size: 100% auto;
  }

nav ul {
  display: flex;
  justify-content: center;
}
/*sets width of navbar items*/
  nav ul li {
    width: 8rem;

}

}
