/********** for mobile styles **********/

/*Sets the width of the overall page container div
to 90% of viewport width and margin:auto centers the page
in the middle of the browser no matter how wide you stretch the browser*/

.pagecontainer {
  margin: auto;
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-rows: 0fr;
}

header {
  text-align: center;
  color: black;
  width: 100%;
  border-bottom: #f7ce4e 7px solid;
}

header img {
  opacity: 0.2;
  filter: alpha(opacity=20); /*brings the opacity down*/
  width: 100%;
  height: 650px;
  max-width: 100%;
  text-align: center;
}

/* Centered text over header image */
.centered {
    display: grid;
    position: absolute;
    padding-top: 6rem;
    padding-bottom: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
}

/*sets the width for the hr elements*/
hr {
  width: 50%;
}

article {
  padding-bottom: 3rem;
}

article img {
  margin: auto;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

article a:hover {
  color: #52595e;
}

/************* Typography *************/
h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.3em;
  letter-spacing: 2px;
  text-transform: uppercase;

}

h2 {
  font-family: 'Asap', sans-serif;
  font-size: 0.8em;
  font-weight: normal;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.5rem;
  color: black;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  letter-spacing: 1px;
  text-align: center;
  color: black;
  padding-top: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

h4 {
  margin: 1rem;
  font-family: 'Asap', sans-serif;
  font-size: 2em;
  font-weight: normal;
  text-align: center;
  color: #b0b0b0;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

h5 {
  margin: 1rem;
  font-family: 'Asap', sans-serif;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color:#363636;
  font-size: 2.3em;
}

.profile p{
  font-family: 'Asap', sans-serif;
  color:#7c7c7c;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 0.8em;
  line-height: 1.5;

}

article p {
  font-family: 'Asap', sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
  color: #7c7c7c;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1em;
  line-height: 1.5;
}

article a {
  color: #f7ce4e;
}

a {
  text-decoration: none;
}

/************* Navigation *************/
nav ul {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  padding-top:2rem;
  justify-content: center;
  list-style-type: none;
  text-align: center;
  font-size: 0.9em;
}

ul li {
  margin: 0.2rem;
  background: transparent;
  font-family: 'Roboto', serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: solid #e7e7e7 1px;
  border-radius: 70px;
  overflow: hidden;
  list-style: none;
  padding: 0.5rem;
  padding-top: 1.3rem;
  padding-left: 7rem;
  padding-right: 7rem;
  text-align: center;
  height: 2rem;
  width: 170px;
}

/* Changes the link color when hovered over */
ul li:hover {
  background: #e7e7e7;
  border-color: white;
}

/*indicates which page the user is on by changes the color of the button*/
.locationmarker {
  background: #f7ce4e;
}

/*takes away any underlines or decorations on the links*/
ul li a {
  color: black;
  text-decoration: none;
}
/************* Work **************/
.work {
  align-content: center;
  line-height: 1;
  padding: 0;
}
.work .square {
  display:inline-block;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height:20em;
  max-width: 100%;
  width:35%;
  position: relative;
}

.work .square2 {
  display:inline-block;
  background-size: cover;
  background-position: 40% 70%;
  background-repeat: no-repeat;
  min-height:20em;
  max-width: 100%;
  width: 100%;
  position: relative;
}


/* changes opacity to locate which piece the user is on */
.work a:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
}

@media (max-width: 900px) {
  .work .square, .square2 {
    width: 100%;
  }
}

/************* Footer *************/
footer {
  border-top: #f7ce4e 7px solid;
  font-family: 'Asap', sans-serif;
  font-size: 0.9em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.5px;
  text-decoration: none;
  color: black;
  height: 200px;
}

/* sets width, height, and opacity of footer image */
footer img {
  opacity: 0.1;
  filter: alpha(opacity=10); /*brings the opacity down*/
  width: 100%;
  height: 200px;
}

footer a {
  color: black;
}

footer a:hover {
  color: #f7ce4e;
}

/* centers text over footer image */
.centeredBottom {
    color: black;
    text-align: left;
    padding-left: 3rem;
    transform: translate(0, -160%);
}

/************** for larger/desktop screens **************/
@media only screen and (min-width: 900px)  {

/*sets the header image to full screen width*/
  header {
    height: 765px;
  }

  header img {
    height: 765px;
  }

/**************** Typography ****************/

  h1 {
    font-size: 3em;
    width: 100%;
    padding-top: 27rem;
  }

  h2{
    font-size: 1.5em;
    line-height: 1.5em;
  }

  hr{
    width: 30%;
  }

  .profile p {
    font-size: 1em;
    line-height: 2em;
    padding-left: 8rem;
    padding-right: 8rem;
  }

/**************** Navigation ****************/

ul {
  font-size: 30px;
}

/*sets the width of the nav bar list elements*/
ul li {
  width: 5rem;
}

/**************** Work ******************/
.work .square {
  min-height: 20em;
  width: 33%;
}

.work .square2 {
  min-height: 20em;
  background-position: center 50%;
  width: 49.8%;
}
}
