
/*Sets the width of the overall page container div
to 90% of viewport width and margin:auto centers the page
in the middle of the browser no matter how wide you stretch the browser*/

.pagecontainer {
  margin: auto;
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-rows: 0fr;
}

header {
  background-image: url('/portfolio-images/branches.jpeg');
  background-size: cover;
  text-align: center;
  color: #ffffff;
  font-family: 'Karla', sans-serif;
  grid-row: 1;
  grid-column: 1 / 1;
  width: 100%;
}

header img {
  opacity: 0.3;
  filter: alpha(opacity=30); /*brings the opacity down*/
  width: 100%;
  height: 100%;
  max-width: 100%;
  text-align: center;

}
/* Centered text */
.centered {
    margin: auto;
    display: grid;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -80%);
}

body {

  background: linear-gradient(to bottom right, #df3646, #feff9d);
  grid-row: 1;
  grid-column: 1 / 1;
  text-align: center;
}


article {
  background: #ffffff;
  grid-row: 1;
  grid-column: 1 / 1;
  padding-bottom: 3rem;
}

article img {
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h1 {
  font-size: 2em;
  font-weight: bold;

}

h2 {
  text-align: center;
  color: #ffffff;
  font-size: 0.5em;

}

h3 {
  font-family: 'Karla', sans-serif;
  text-align: center;
  padding-top: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  color: #dc747d;
  font-size: 2em;
}

h4 {
  font-family: 'Karla', sans-serif;
  text-align: center;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #dc747d;
  font-size: 2em;
}

h5 {

}

h6 {

}

.profile p{
  font-family: 'Karla', sans-serif;
  color: #dc747d;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 0.8em;
  line-height: 1.5;

}

article p {
  font-family: 'Karla', sans-serif;
  color: #dc747d;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1.2em;
  line-height: 1.5;
}

main p {
  font-family: 'Karla', sans-serif;
  color: #dc747d;
  font-size: 1.2em;
  padding-left: 10em;
  padding-right: 10em;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

nav ul {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  justify-content: center;
  list-style-type: none;
  text-align: center;
  font-size: .5em;
}

ul li {
  margin: 0.2rem;
  border: solid #fff 1px;
  border-radius: 70px;
  background: transparent;
  overflow: hidden;
  list-style: none;
  padding: 0.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  text-align: center;
}


/* Changes the link color when hovered over */
ul li:hover {
  background: #dc747d;
  border-color: white;
}

/*indicates which page the user is on by changes the color of the button*/
.locationmarker {
  background: #c65b65;
}

/*takes away any underlines or decorations on the links*/
ul li a {
  color: #ffffff;
  text-decoration: none;
}

footer {
  background: #c65b65;
  padding: 3rem;
  text-align: center;
  font-family: 'Karla', sans-serif;
  color: #ffffff;
}


/* for larger screens*/
@media only screen and (min-width: 900px)  {
/*sets the header image to full screen width*/
  header {
    background-size: 100% auto;
  }

nav ul {
  display: flex;
  justify-content: center;
}
/*sets width of navbar items*/
  nav ul li {
    width: 8rem;

}

}
